{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": true,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "font-family-name-quotes": "always-where-recommended",
    "indentation": 4,
    "no-extra-semicolons": true,
    "property-case": "lower",
    "string-no-newline": true,
    "string-quotes": "double",
    "unit-case": "lower",
    "unit-no-unknown": true,

    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-closing-brace-space-before": "always-single-line",
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-space-after": "always-single-line",
    "block-opening-brace-space-before": "always",

    "font-family-no-missing-generic-family-keyword": null,
    "no-duplicate-selectors": null,
    "no-empty-source": null,
    "no-descending-specificity": null
  }
}