::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #cccccc;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}

*::selection {
    background-color: #b9d7ff;
    opacity: 0.2;
}

*::-moz-selection {
    background-color: #b9d7ff;
    opacity: 0.2;
}

*::-webkit-selection {
    background-color: #b9d7ff;
    opacity: 0.2;
}

body {
    color: #606266;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    color: #303133;
}

.markdown-container pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.markdown-container table {
    margin-top: 20px;
}

.markdown-container hr {
    margin: 20px 0 20px 0;
}

.markdown-container thead {
    background-color: #f9f9f9;
}

.markdown-container h1::before,
h2::before,
h3::before {
    color: #409eff;
    content: "# ";
}

.markdown-container img {
    max-width: 100%;
}

.markdown-container h1,
.cm-header-1 {
    font-size: 30px;
}

.markdown-container h2,
.cm-header-2 {
    font-size: 23px;
}

.markdown-container h3,
.cm-header-3 {
    font-size: 18px;
}

.markdown-container h4,
.cm-header-4 {
    font-size: 17px;
}

.markdown-container h5,
.cm-header-5 {
    font-size: 14px;
}

.markdown-container blockquote {
    background-color: #f8f8f8;
    border-left: 5px solid #a8a8a8;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #909399;
    margin-left: 0;
    margin-right: 0;
}

.markdown-container code {
    background-color: #f9f9f9;
    padding: 5px;
}

.markdown-container pre {
    padding: 10px;
    background-color: #f9f9f9;
}

.markdown-container pre > code {
    padding: 0;
}

.markdown-container table {
    border-collapse: collapse;
    width: 100%;
}

.markdown-container th {
    padding: 10px;
    border-bottom: 2px solid #909399;
}

.markdown-container td {
    border-top: 1.5px solid #ebeef5;
    padding: 10px;
}

.markdown-container hr {
    background-color: #e4e7ed;
    height: 2px;
    border: none;
}

.highzindex {
    z-index: 10000 !important;
}

.no-margin {
    margin: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

* {
    border-radius: 0 !important;
}
