::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(233, 233, 235);
}

::-webkit-scrollbar-track {
    background-color: rgb(233, 233, 235);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(144, 147, 153);
    transition: all 0.5s;
}

*::selection {
    background-color: var(--color-blue-3);
    opacity: 0.2;
}

*::-moz-selection {
    background-color: var(--color-blue-3);
    opacity: 0.2;
}

*::-webkit-selection {
    background-color: var(--color-blue-3);
    opacity: 0.2;
}

body {
    color: var(--color-regular-text);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    color: var(--color-primary-text);
}

a {
    text-decoration: none;
}

.markdown-container a {
    color: var(--color-blue);
    text-decoration: none;
    transition: 0.2s;
}

.markdown-container a:hover {
    color: var(--color-blue-7);
    text-decoration: underline;
}

.markdown-container pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.markdown-container table {
    margin-top: 20px;
}

.markdown-container hr {
    margin: 20px 0 20px 0;
}

.markdown-container thead {
    background-color: var(--color-grey-1);
}

.markdown-container h1::before,
h2::before,
h3::before {
    color: var(--color-blue);
    content: "# ";
}

.markdown-container img {
    max-width: 100%;
}

.markdown-container h1,
.cm-header-1 {
    font-size: 30px;
}

.markdown-container h2,
.cm-header-2 {
    font-size: 23px;
}

.markdown-container h3,
.cm-header-3 {
    font-size: 18px;
}

.markdown-container h4,
.cm-header-4 {
    font-size: 17px;
}

.markdown-container h5,
.cm-header-5 {
    font-size: 14px;
}

.markdown-container blockquote {
    background-color: var(--color-grey-1);
    border-left: 5px solid var(--color-grey-3);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color-secondary-text);
    margin-left: 0;
    margin-right: 0;
}

.markdown-container code {
    background-color: var(--color-grey-1);
    padding: 5px;
}

.markdown-container pre {
    padding: 10px;
    background-color: var(--color-grey-1);
}

.markdown-container pre > code {
    padding: 0;
}

.markdown-container table {
    border-collapse: collapse;
    width: 100%;
}

.markdown-container th {
    padding: 10px;
    border-bottom: 2px solid var(--color-grey);
}

.markdown-container td {
    border-top: 1.5px solid var(--color-lighter-border);
    padding: 10px;
}

.markdown-container hr {
    background-color: var(--color-light-border);
    height: 2px;
    border: none;
}

.katex {
    overflow-x: scroll;
    overflow-y: hidden;
}

.problem-list-pagination {
    border: 1px solid var(--color-lighter-border);
    background: var(--color-white);
    margin-left: -21px;
    padding: 10px;
    height: 36px;
    max-width: 100vw;
    width: 828px;
    text-align: center;
    bottom: 0;
    position: fixed;
}

.status-list-pagination {
    border: 1px solid var(--color-lighter-border);
    background: var(--color-white);
    margin-left: -21px;
    padding: 10px;
    height: 36px;
    max-width: 100vw;
    width: 828px;
    text-align: center;
    bottom: 0;
    position: fixed;
}

.el-dialog,
.el-dialog__wrapper {
    z-index: 200000 !important;
}

.v-modal {
    z-index: 100000 !important;
}

* {
    border-radius: 0 !important;
}

.icon-error {
    color: var(--color-red) !important;
}

.icon-success {
    color: var(--color-green) !important;
}
