.markdown-container a {
    color: var(--color-blue);
    text-decoration: none;
    transition: 0.2s;
}

.markdown-container a:hover {
    color: var(--color-blue-7);
    text-decoration: underline;
}

.markdown-container pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.markdown-container table {
    margin-top: 20px;
}

.markdown-container hr {
    margin: 20px 0 20px 0;
}

.markdown-container thead {
    background-color: var(--color-grey-1);
}

.markdown-container h1::before,
h2::before,
h3::before {
    color: var(--color-blue);
    content: "# ";
}

.markdown-container img {
    max-width: 100%;
}

.markdown-container h1,
.cm-header-1 {
    font-size: 30px;
}

.markdown-container h2,
.cm-header-2 {
    font-size: 23px;
}

.markdown-container h3,
.cm-header-3 {
    font-size: 18px;
}

.markdown-container h4,
.cm-header-4 {
    font-size: 17px;
}

.markdown-container h5,
.cm-header-5 {
    font-size: 14px;
}

.markdown-container blockquote {
    background-color: var(--color-grey-1);
    border-left: 5px solid var(--color-grey-3);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color-secondary-text);
    margin-left: 0;
    margin-right: 0;
}

.markdown-container code {
    background-color: var(--color-grey-1);
    padding: 5px;
}

.markdown-container pre {
    padding: 10px;
    background-color: var(--color-grey-1);
}

.markdown-container pre > code {
    padding: 0;
}

.markdown-container table {
    border-collapse: collapse;
    width: 100%;
}

.markdown-container th {
    padding: 10px;
    border-bottom: 2px solid var(--color-grey);
}

.markdown-container td {
    border-top: 1.5px solid var(--color-lighter-border);
    padding: 10px;
}

.markdown-container hr {
    background-color: var(--color-light-border);
    height: 2px;
    border: none;
}

.markdown-container li {
    margin: 5px 0 5px 0;
}

.katex {
    overflow-x: scroll;
    overflow-y: hidden;
}
