.color-danger {
    color: #F56C6C;
}

.color-success {
    color: #67C23A;
}

.color-warning {
    color: #E6A23C;
}

.color-info {
    color: #909399;
}

.color-info {
    color: #409EFF;
}

.color-primary-text {
    color: #303133;
}

.color-regular-text {
    color: #606266;
}

.color-secondary-text {
    color: #909399;
}

.color-placeholder {
    color: #C0C4CC;
}

.background-color-danger {
    background-color: #F56C6C;
}

.background-color-success {
    background-color: #67C23A;
}

.background-color-warning {
    background-color: #E6A23C;
}

.background-color-info {
    background-color: #909399;
}

.background-color-info {
    background-color: #409EFF;
}

.markdown-container h1 {
    font-weight: 300;
    font-size: 30px;
    color: #303133;
}

.markdown-container h2 {
    font-weight: 300;
    font-size: 25px;
    color: #303133;
}

.markdown-container h1:before {
    color: #409EFF;
    content: '# ';
}

body {
    color: #606266;
}

blockquote {
    background-color: #F8F8F8;
    border-left: 5px solid #a8a8a8;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #909399;
    margin-left: 0;
    margin-right: 0;
}

.markdown-container code {
    background-color: #F8F8F8;
    padding: 5px;
}

.markdown-container pre {
    padding: 10px;
    background-color: #F8F8F8;
}

.markdown-container pre>code {
    padding: 0;
}