@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src: url('./FiraSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url('./FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./FiraSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  src: url('./FiraSans-Bold.woff2') format('woff2');
}