@font-face {
    font-family: "Fira Sans";
    src: url("./FiraSans-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./FiraSans-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./FiraSans-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Fira Sans";
    font-style: italic;
    src: url("./FiraSans-Italic.woff2") format("woff2");
    font-weight: 400;
}